<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  onload=" generatePace()">
<div class="container_head">
    <div class="firstGamer" id="first">
        <p>Gamer: Pasha</p>
        <div id="first_elements" class="elements">

        </div>
    </div>
    <div class="container" id="cont">
        <div id="board" >
        </div>
    </div>
    <div class="secondGamer" id="second">
        <p>Gamer: Dima</p>
        <div id="second_elements" class="elements">

        </div>
    </div>
    </div>
<script src="./js/main.js"></script>
</body>
</html>